body {
  background: #ffffff;
  color: #012169;
  margin-top: 5rem;
  position: relative;
  width: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em
}

header {
  background: #ffffff;
  color: #012169;
  position: relative;
  width: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
}


h1, h2, h3, h4, h5, h6 {
  color: #012169;
}

.p {
    font-size:25px;
    color: #16167f
}

#test-content {
  width: 50%;
  margin-left: auto ;
  margin-right: auto ;
}

.bg-steel {
  background-color: #012169;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 900;
}

.nav-item.nav-link:hover {
        background-color: #01123b;
        color: white;
        border-radius: 12px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}