<!DOCTYPE html>
<html lang="en">
<style>
h1   {text-align: left;}
</style>
<body>
    {% extends "layout.html" %}
    {% block title %}
    <h1>
        <strong>Bienvenido a Tasador!</strong>
    </h1>
    {% endblock title %}

    {% block content %}
    <br>
        <p>Tasador es una prueba de concepto o "demo" creado para
            <a href=https://weekendcode.cl/>WeekendCode 2021 </a></p>
    <p>Puedes usar esta app para estimar el precio de venta de una propiedad en la Ciudad de Buenos Aires.</p>
        <p>El modelo usa características básicas de una propiedad (numero de ambientes, baños, superficie, etc.) para realizar esta predicción.</p>
    </br>
        <div>
            <form style="display: inline">
                <button formaction="/tasar" style="display:inline-block;p margin-left:20px">
                    <p style="text-align: center; vertical-align: middle; margin: auto; font-size:20px ">
                         ¡Tasa tu propiedad!
                    </p>
                </button>
            </form>
        </div>
    {% endblock content %}
</body>
</html>
